[user]
    name = Joeri Smits
    email = joeri.smits@planet.nl
[credential]
    helper = osxkeychain
[core]
    excludesfile = /Users/JoeriSmits/.gitignore
    editor = sublime -w
[merge]
    tool = sublime
[mergetool "sublime"]
    cmd = sublime -w $MERGED
    trustExitCode = false
[mergetool]
    keepBackup = false
